<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>LogoScanner</string>
	<key>CFBundleIdentifier</key>
	<string>com.LogoScanner</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CFBundleName</key>
	<string>LogoScanner</string>
	<key>NSCameraUsageDescription</key>
	<string>Requires camera permission</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Requires calendar Permission</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Requires access to location.</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSContactsUsageDescription</key>
	<string>Requires contacts permission</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Requires microphone permission</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Requires apple music permission</string>
	<key>NSSiriUsageDescription</key>
	<string>Requires siri permission</string>
</dict>
</plist>
